* {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    /* Fuente general para toda la página */
}

.completo {
    background-color: rgb(183, 215, 245); /* Fondo azul claro */
    color: rgb(23, 43, 91); /* Texto azul oscuro */
    padding: 1rem 2rem; /* Espaciado interno */
    display: flex;
    flex-direction: column; /* Organiza en columnas */
    border-radius: 1rem; /* Bordes redondeados */
    gap: 1rem; /* Espacio entre secciones */
}

.dos {
    display: flex; /* Imagen y nombre en fila */
    background-color: rgb(71, 110, 154); /* Fondo azul */
    backdrop-filter: blur(12px); /* Efecto de desenfoque */
    padding: 1rem;
    border-radius: 1rem;
}

.imagen {
    margin-inline: 2rem; /* Margen horizontal */
    width: 40%;
}

.imagen img {
    border-radius: 1rem; /* Bordes redondeados de la foto */
}

.portada {
    color: white; /* Texto blanco */
    text-align: center; /* Centrar el texto */
    padding: 1rem;
    width: 50%;
}

.content {
    padding: 1rem;
    background-color: rgb(150, 184, 222); /* Fondo intermedio azul */
    backdrop-filter: blur(12px);
    border-radius: 1rem;
}

/* Estilos generales para secciones */
.perfil, .formacion, .habilidades, .contacto, .explaboral, .expprofesional {
    padding: 1rem;
    border-radius: 1rem;
}

button {
    font-size: 1rem;
    background-color: rgb(49, 79, 115); /* Azul oscuro */
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0.5px rgb(17, 27, 88);
    backdrop-filter: blur(12px);
}

button:hover {
    transition: all 300ms; /* Animación al pasar el mouse */
    background-color: rgba(230, 242, 255, 0.9); /* Fondo claro */
    color: rgb(27, 47, 96); /* Texto azul oscuro */
    box-shadow: 0px 0.5px rgb(35, 60, 97);
}
