* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Fuente general */
    color: white;
    /* Texto en blanco */
}

body {
    background-color: black;
    /* Fondo negro de la página */
}

.completo {
    background-color: white;
    /* Fondo blanco para el contenedor principal */
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* Portada inicial */
.portada {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    background-color: black;
}

/* Secciones de contenido */
.trabajo,
.ilustracion,
.mockups,
.logos,
.publicaciones,
.tresd,
.fotos,
.edicion {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* Colores personalizados por sección */
.logos {
    background-color: rgb(249, 116, 145);
}

.ilustracion {
    background-color: rgb(90, 156, 237);
}

.mockups {
    background-color: rgb(75, 117, 26);
}

.publicaciones {
    background-color: rgb(223, 46, 11);
}

.fotos {
    background-color: rgb(173, 23, 48);
}

.tresd {
    background-color: rgb(240, 137, 3);
}

.edicion {
    background-color: rgb(107, 139, 83);
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* Texto centrado */
}

/* Estilos generales para los contenedores de imágenes */
#fotos1,
#fotos2,
#fotos3,
#fotos4,
#fotos5,
#fotos6,
#fotos7 {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#fotos1 img,
#fotos2 img,
#fotos3 img,
#fotos4 img,
#fotos5 img,
#fotos6 img,
#fotos7 img {
    border-radius: 1rem;
    /* Bordes redondeados para las imágenes */
}

/* Botón de navegación */
button {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0.5px black;
    backdrop-filter: blur(12px);
}

/* Efecto hover en el botón */
button:hover {
    transition: all 500ms;
    background-color: rgba(17, 47, 9, 0.9);
    color: white;
    box-shadow: 0px 0.5px rgb(14, 53, 8);
}